body {
  font-family: sans-serif;
  text-align: center;
}
/* navigation bar styles */

nav > .nav-wrapper > a {
  color: #455a64;
}

.hero-div {
  font-family: "Special Elite", cursive;
  background-size: cover;
}

.text-container {
  margin-top: 80px;
}

/* CONTACT DIV STYLES */

#email-icon {
  color: #08aa95;
  transition: linear 0.1s;
}

#email-icon:hover {
  color: #0adbbf;
}

#github-icon:hover,
#linkedin-icon:hover {
  opacity: 0.5;
}

#github-icon,
#linkedin-icon {
  max-width: 57px;
  max-height: 57px;
  transition: linear 0.2s;
}

#fb-icon:hover {
  opacity: 0.5;
}

#email-icon > a > h5,
#fb-icon > a > h5,
#github-icon > a > h5 {
  color: black;
}

#warning-msg {
  text-align: center;
}

/* Alternating Backgrounds */
#experience-row,
#contact-row,
#projects-row {
  background-color: #fafafa;
}

/* Built Div Styles */
#experience-row {
  font-family: sans-serif;
}

.row-title,
.row-footer {
  font-family: "Special Elite", cursive;
}

.datetime {
  color: black;
}

/* Display Photo */
#display-photo {
  max-width: 250px;
  max-height: 250px;
}

/* Experience Entry */
.logo {
  max-width: 200px;
  max-height: 200px;
  border-radius: 20px;
}

.job-title,
.project-title {
  color: #08aa95;
  font-size: 22px;
}

.job-description-inverted {
  background-color: #fafafa;
  padding: 10px;
  border-radius: 20px;
}

/* Food Section */
.food-pic {
  max-width: 300px;
  max-height: 300px;
  border-radius: 5px;
}

#award-phrase {
  color: #049be5;
  font-size: 22px;
}

/* Code Style */
.code {
  font-family: "IBM Plex Mono", monospace;
}
