body {
  font-family: "Heebo", sans-serif;
  background-color: #f9f9f9 !important;
}

/* Container 1 Styles */
#container1 {
  min-height: 100vh;
}

#headlines-container {
  padding-bottom: 35px;
  text-align: center;
}

#headline {
  text-align: left;
  max-width: 550px;
  margin-top: 50px;
  display: inline-block;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 50px;
  line-height: 1.1em;
}

.side-margin-row {
  margin: 0 30% 0 30%;
}

#msft-card,
#intersect-card {
  display: inline-block;
}

#more-row {
  padding: 15px 0 15px 0;
  text-align: center;
}

/* Font styles */
.light-gray {
  color: #7b7b80;
}

.align-center {
  text-align: center;
}

#c1 {
  text-align: right;
  padding: 10px !important;
}

#c2 {
  text-align: left;
  padding: 10px !important;
}

.row {
  padding: 0 40px 0 40px;
}

/* Card styles */
.card {
  padding: 45px 50px;
  text-align: left;
  border-color: white !important;
  height: 100%;
  width: 100%;
  box-shadow: 7px 7px 25px #cdcccc;
  border-radius: 10px !important;
  transition: all 0.5s ease-in;
}

.card-title {
  font-weight: 600;
}

.card-logo {
  width: 65px;
  height: 65px;
  margin-bottom: 15px;
}

.card-description {
  font-size: 14px;
  font-weight: 300;
  padding: 0;
  margin: 0;
  color: #7b7b80;
}

#intersect-logo {
  width: 115px;
  height: 70px;
}
